<!doctype html>
<html class="no-js" lang="zxx">

<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title> JMFIT </title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="manifest" href="site.webmanifest">
	<link rel="shortcut icon" type="image/x-icon" th:href="@{/img/favicon.ico}">

	<!-- CSS here -->
	<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}">
	<link rel="stylesheet" th:href="@{/css/slicknav.css}">
	<link rel="stylesheet" th:href="@{/css/flaticon.css}">
	<link rel="stylesheet" th:href="@{/css/gijgo.css}">
	<link rel="stylesheet" th:href="@{/css/animate.min.css}">
	<link rel="stylesheet" th:href="@{/css/animated-headline.css}">
	<link rel="stylesheet" th:href="@{/css/magnific-popup.cs}">
	<link rel="stylesheet" th:href="@{/css/fontawesome-all.min.css}">
	<link rel="stylesheet" th:href="@{/css/themify-icons.css}">
	<link rel="stylesheet" th:href="@{/css/slick.css}">
	<link rel="stylesheet" th:href="@{/css/nice-select.css}">
	<link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
	<!-- ? Preloader Start -->
	<div id="preloader-active">
		<div class="preloader d-flex align-items-center justify-content-center">
			<div class="preloader-inner position-relative">
				<div class="preloader-circle"></div>
				<div class="preloader-img pere-text">
					<img th:src="@{/img/logo/loder1.png}" alt="">
				</div>
			</div>
		</div>
	</div>
	<!-- Preloader Start -->
	<header>
		<!--? Header Start -->
		<div class="header-area header-transparent">
			<div class="main-header header-sticky">
				<div class="container-fluid">
					<div class="row align-items-center">
						<!-- Logo -->
						<div class="col-xl-2 col-lg-2 col-md-1">
							<div class="logo">
								<a href="index.html"><img th:src="@{/img/logo/logo1.png}" alt=""></a>
							</div>
						</div>
						<div class="col-xl-10 col-lg-10 col-md-10">
							<div class="menu-main d-flex align-items-center justify-content-end">
								<!-- Main-menu -->
								<div class="main-menu f-right d-none d-lg-block">
									<nav>
										<ul id="navigation">
											<li><a th:href="@{/Clientes/Inicio/{id}(id=${id})}">Inicio</a></li>
											<li><a th:href="@{/Clientes/about/{id}(id=${id})}">Conocenos</a></li>
											<li><a th:href="@{/Clientes/services/{id}(id=${id})}">Servicios</a></li>
											<li><a th:href="@{/Clientes/schedule/{id}(id=${id})}">Horarios</a></li>
											<li><a th:href="@{/Clientes/gallery/{id}(id=${id})}">Galeria</a></li>
											<li><a th:href="@{/Clientes/Precios/{id}(id=${id})}">Precios</a></li>

											</li>
											<li><a th:href="@{/Clientes/contact/{id}(id=${id})}">Contactanos</a></li>
											<li>
											<li>
												<a th:href="@{/Clientes/edit/{id}(id=${id})}">Ediiitar</a>
											</li>

											</li>

										</ul>
									</nav>
								</div>
								<div class="header-right-btn f-right d-none d-lg-block ml-30">
									<a th:href="@{/index/}" class="btn header-btn">Cerrar Sesion</a>
								</div>
							</div>
						</div>
						<!-- Mobile Menu -->
						<div class="col-12">
							<div class="mobile_menu d-block d-lg-none"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Header End -->
	</header>
	<main>
		<!--? Hero Start -->
		<div class="slider-area2">
			<div class="slider-height2 d-flex align-items-center">
				<div class="container">
					<div class="row">
						<div class="col-xl-12">
							<div class="hero-cap hero-cap2 text-center pt-70">
								<h2>Conocenos</h2>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Hero End -->
		<!--? About Area Start -->
		<section class="about-area section-padding30">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-lg-6 col-md-12">
						<!-- about-img -->
						<div class="about-img ">
							<img th:src="@{/img/gallery/about.png}" alt="">
						</div>
					</div>
					<div class="col-lg-6 col-md-12">
						<div class="about-caption">
							<!-- Section Tittle -->
							<div class="section-tittle section-tittle3 mb-35">
								<span>Acerca de Nuestro GYM</span>
								<h2>¡Soluciones adecuadas para la construcción segura del cuerpo que ahorran nuestro
									valioso tiempo!</h2>
							</div>
							<p class="pera-top"> JMFIT presenta sus servicios de forma flexible, conveniente y cómoda
								diseños. Puede seleccionar sus diseños y elementos favoritos para cular ts con acceso
								ilimitado
								posibilidades de personalización. Se pretende una replicación perfecta en píxeles de los
								diseñadores.</p>
							<p class="mb-65 pera-bottom"> Puedes Conocer mas visitando nuestras instalaciones</p>

						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- About-2 Area End -->

	</main>
	<footer>
		<!--? Footer Start-->
		<div class="footer-area section-bg" th:data-background="@{/img/gallery/section_bg03.png}">


			<div class="container">
				<div class="footer-top footer-padding">
					<!-- Footer Menu -->
					<div class="row d-flex justify-content-between">
						<div class="col-xl-2 col-lg-2 col-md-4 col-sm-6">
							<div class="single-footer-caption mb-50">
								<div class="footer-tittle">
									<h4>GYM</h4>
									<ul>
										<li><a href="#">Conocenos</a></li>



									</ul>
								</div>
							</div>
						</div>
						<div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
							<div class="single-footer-caption mb-50">
								<div class="footer-tittle">
									<h4>Horarios</h4>
									<ul>
										<li><a href="#">Lunes 11am-7pm</a></li>
										<li><a href="#"> Martes-Viernes 11am-8pm</a></li>
										<li><a href="#"> Sabados 10am-6pm</a></li>
										<li><a href="#"> Domingo 11am-6pm</a></li>
									</ul>
								</div>
							</div>
						</div>
						>
						<div class="col-xl-3 col-lg-4 col-md-5 col-sm-6">
							<div class="single-footer-caption mb-50">
								<!-- logo -->
								<div class="footer-logo">
									<a th:href="@{/index}">
										<img src="@{/img/logo/logo1.png}" alt="">
									</a>

								</div>
								<div class="footer-tittle">
									<div class="footer-pera">
										<p class="info1">Dedicación y persistencia: el camino hacia la mejor versión de
											ti</p>
									</div>
								</div>
								<!-- Footer Social -->
								<div class="footer-social ">
									<a href="https://www.facebook.com/sai4ull"><i class="fab fa-facebook-f"></i></a>
									<a href=""><i class="fab fa-twitter"></i></a>
									<a href="#"><i class="fas fa-globe"></i></a>
									<a href="#"><i class="fab fa-instagram"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Footer Bottom -->
				<div class="footer-bottom">
					<div class="row d-flex align-items-center">
						<div class="col-lg-12">
							<div class="footer-copy-right text-center">
								<p>
									Copyright &copy;
									<script>document.write(new Date().getFullYear());</script> Todos los Derechos
									Reservados |
									Hecho por <i class="fa fa-heart" aria-hidden="true"></i> Marcos Suarez-Jhon Orrego

								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Footer End-->
	</footer>
	<!-- Scroll Up -->
	<div id="back-top">
		<a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
	</div>

	<!-- JS here -->

	<script th:src="@{/js/vendor/modernizr-3.5.0.min.js}"></script>
	<!-- Jquery, Popper, Bootstrap -->
	<script th:src="@{/js/vendor/jquery-1.12.4.min.js}"></script>
	<script th:src="@{/js/popper.min.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<!-- Jquery Mobile Menu -->
	<script th:src="@{/js/jquery.slicknav.min.js}"></script>

	<!-- Jquery Slick , Owl-Carousel Plugins -->
	<script th:src="@{/js/owl.carousel.min.js}"></script>
	<script th:src="@{/js/slick.min.js}"></script>
	<!-- One Page, Animated-HeadLin -->
	<script th:src="@{/js/wow.min.js}"></script>
	<script th:src="@{/js/animated.headline.js}"></script>
	<script th:src="@{/js/jquery.magnific-popup.js}"></script>

	<!-- Date Picker -->
	<script th:src="@{/js/gijgo.min.js}"></script>
	<!-- Nice-select, sticky -->
	<script th:src="@{/js/jquery.nice-select.min.js}"></script>
	<script th:src="@{/js/jquery.sticky.js}"></script>

	<!-- counter , waypoint,Hover Direction -->
	<script th:src="@{/js/jquery.counterup.min.js}"></script>
	<script th:src="@{/js/waypoints.min.js}"></script>
	<script th:src="@{/js/jquery.countdown.min.js}"></script>
	<script th:src="@{/js/hover-direction-snake.min.js}"></script>

	<!-- contact js -->
	<script th:src="@{/js/contact.js}"></script>
	<script th:src="@{/js/jquery.form.js}"></script>
	<script th:src="@{/js/jquery.validate.min.js}"></script>
	<script th:src="@{/js/mail-script.js}"></script>
	<script th:src="@{/js/jquery.ajaxchimp.min.js}"></script>

	<!-- Jquery Plugins, main Jquery -->
	<script th:src="@{/js/plugins.js}"></script>
	<script th:src="@{/js/main.js}"></script>

</body>

</html>