<!doctype html>
<html class="no-js" lang="zxx">

<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title> JMFIT </title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">

	<!-- CSS here -->
	<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}">
	<link rel="stylesheet" th:href="@{/css/slicknav.css}">
	<link rel="stylesheet" th:href="@{/css/flaticon.css}">
	<link rel="stylesheet" th:href="@{/css/gijgo.css}">
	<link rel="stylesheet" th:href="@{/css/animate.min.css}">
	<link rel="stylesheet" th:href="@{/css/animated-headline.css}">
	<link rel="stylesheet" th:href="@{/css/magnific-popup.cs}">
	<link rel="stylesheet" th:href="@{/css/fontawesome-all.min.css}">
	<link rel="stylesheet" th:href="@{/css/themify-icons.css}">
	<link rel="stylesheet" th:href="@{/css/slick.css}">
	<link rel="stylesheet" th:href="@{/css/nice-select.css}">
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<link rel="stylesheet" th:href="@{/css/precios.css}">

	<style>
		.pricing6 {
			padding: 50px 0;
			/* Aumenta el padding para dar más espacio */
		}

		.pricing6 h3 {
			font-size: 36px;
			/* Aumenta el tamaño del título */
		}

		.pricing6 .subtitle {
			font-size: 18px;
			/* Aumenta el tamaño del subtitulo */
		}

		.pricing6 .price-box {
			padding: 30px 20px;
			/* Aumenta el padding para dar más espacio */
		}

		.pricing6 .font-weight-medium {
			font-size: 28px;
			/* Aumenta el tamaño del texto */
		}

		.pricing6 .font-weight-light {
			font-size: 16px;
			/* Aumenta el tamaño del texto */
		}

		.pricing6 .font-14 {
			font-size: 14px;
			/* Aumenta el tamaño del texto */
		}
	</style>

	<script>
		function mostrarMensaje() {
			alert("¡Un asesor del JMFIT se comunicará contigo pronto!");
		}
	</script>
</head>
<!--? Preloader Start -->
<div id="preloader-active">
	<div class="preloader d-flex align-items-center justify-content-center">
		<div class="preloader-inner position-relative">
			<div class="preloader-circle"></div>
			<div class="preloader-img pere-text">
				<img th:src="@{/img/logo/loder1.png}" alt="">
			</div>
		</div>
	</div>
</div>
<!-- Preloader Start -->
<header>
	<!--? Header Start -->
	<div class="header-area header-transparent">
		<div class="main-header header-sticky">
			<div class="container-fluid">
				<div class="row align-items-center">
					<!-- Logo -->
					<div class="col-xl-2 col-lg-2 col-md-1">
						<div class="logo">
							<a href="index.html"><img th:src="@{/img/logo/logo1.png}" alt=""></a>
						</div>
					</div>
					<div class="col-xl-10 col-lg-10 col-md-10">
						<div class="menu-main d-flex align-items-center justify-content-end">
							<!-- Main-menu -->
							<div class="main-menu f-right d-none d-lg-block">
								<nav>
									<ul id="navigation">
										<li><a th:href="@{/Inicio/}">Inicio</a></li>
										<li><a th:href="@{/about/}">Conocenos</a></li>
										<li><a th:href="@{/services/}">Servicios</a></li>
										<li><a th:href="@{/schedule/}">Horarios</a></li>
										<li><a th:href="@{/gallery/}">Galeria</a></li>
										<li><a th:href="@{/Precios/}">Precios</a></li>

										</li>
										<li><a th:href="@{/contact/}">Contactanos</a></li>
									</ul>
								</nav>
							</div>
							<div class="header-right-btn f-right d-none d-lg-block ml-30">
								<a th:href="@{/index/}" class="btn header-btn">Cerrar Sesion</a>
							</div>
						</div>
					</div>
					<!-- Mobile Menu -->
					<div class="col-12">
						<div class="mobile_menu d-block d-lg-none"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Header End -->
</header>
<main>
	<!--? Hero Start -->
	<div class="slider-area2">
		<div class="slider-height2 d-flex align-items-center">
			<div class="container">
				<div class="row">
					<div class="col-xl-12">
						<div class="hero-cap hero-cap2 pt-70 text-center">
							<h2>Precios</h2>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Hero End -->
	<!--?  Contact Area start  -->
	<section class="contact-section">
		<div class="container">
			<div class="d-none d-sm-block mb-5 pb-4">
				<div id="" style="height: 480px; position: relative; overflow: hidden;">
					<div
						style="height: 100%; width: 100%; position: absolute; top: 0px; left: 0px; background-color: rgb(229, 227, 223);">
						<div class="pricing6 py-5 bg-light">
							<div class="container">
								<div class="row justify-content-center">
									<div class="col-md-8 text-center">
										<h3 class="mb-3">Precios para hacer su trabajo efectivo</h3>
										<h6 class="subtitle font-weight-normal">Ofrecemos 100% de satisfacción y garantía de devolución de dinero.</h6>
									</div>
								</div>
								<!-- row  -->
								<div class="row mt-4">
									<!-- column  -->
									<div class="col-md-6">
										<div class="card card-shadow border-0 mb-4">
											<div class="card-body p-4">
												<div class="d-flex align-items-center">
													<h5 class="font-weight-medium mb-0" style="font-size: 24px;">Plan
														Básico</h5>
													<div class="ml-auto"><span
															class="badge badge-danger font-weight-normal p-2"
															style="font-size: 16px;">Popular</span></div>
												</div>
												<div class="row">
													<div class="col-lg-5 text-center">
														<div class="price-box my-3">
															<sup>$</sup><span class="text-dark display-5"
																style="font-size: 40px;">80000</span>
															<h6 class="font-weight-light" style="font-size: 18px;">
																MENSUAL</h6>
																<a class="btn btn-info-gradiant font-14 border-0 text-white p-3 btn-block mt-3" href="#" style="font-size: 16px;" onclick="mostrarMensaje()">ESCOGER PLAN</a>

														</div>
													</div>
													<div class="col-lg-7 align-self-center">
														<ul
															class="list-inline pl-3 font-14 font-weight-medium text-dark">
															<li class="py-2"><i class="icon-check text-info mr-2"></i>
																<span>6 Días a la Semana </span></li>
															<li class="py-2"><i class="icon-check text-info mr-2"></i>
																<span>Entrenador Dedicado</span></li>
															<li class="py-2"><i class="icon-check text-info mr-2"></i>
																<span>Plan de Alimentación Incluido </span></li>
															<li class="py-2"><i class="icon-check text-info mr-2"></i>
																<span>Clases en la Mañana y Tarde</span></li>
														</ul>
													</div>
												</div>
											</div>
										</div>
									</div>
									<!-- column  -->
									<!-- column  -->
									<div class="col-md-6">
										<div class="card card-shadow border-0 mb-4">
											<div class="card-body p-4">
												<div class="d-flex align-items-center">
													<h5 class="font-medium m-b-0" style="font-size: 25px;">Plan Avanzado
													</h5>
												</div>
												<div class="row">
													<div class="col-lg-5 text-center">
														<div class="price-box my-3">
															<sup>$</sup><span class="text-dark display-5"
																style="font-size: 40px;">520000</span>
															<h6 class="font-weight-light" style="font-size: 18px;">ANUAL
															</h6>
															<a class="btn btn-info-gradiant font-14 border-0 text-white p-3 btn-block mt-3"
																href="#" style="font-size: 16px;"
																onclick="mostrarMensaje()">ESCOGER PLAN</a>

														</div>
													</div>
													<div class="col-lg-7 align-self-center">
														<ul
															class="list-inline pl-3 font-14 font-weight-medium text-dark">
															<li class="py-2"><i class="icon-check text-info mr-2"></i>
																<span>6 Días a la Semana </span></li>
															<li class="py-2"><i class="icon-check text-info mr-2"></i>
																<span>Entrenador Dedicado</span></li>
															<li class="py-2"><i class="icon-check text-info mr-2"></i>
																<span>Plan de Alimentación Incluido </span></li>
															<li class="py-2"><i class="icon-check text-info mr-2"></i>
																<span>Clases en la Mañana y Tarde</span></li>
														</ul>
													</div>
												</div>
											</div>
										</div>
									</div>
									<!-- column  -->
								</div>
							</div>
						</div>
					</div>

				</div>



			</div>

		</div>
	</section>
	<!-- Contact Area End -->
</main>
<footer>
	<!--? Footer Start-->
	<div class="footer-area section-bg" th:data-background="@{/img/gallery/section_bg03.png}">


		<div class="container">
			<div class="footer-top footer-padding">
				<!-- Footer Menu -->
				<div class="row d-flex justify-content-between">
					<div class="col-xl-2 col-lg-2 col-md-4 col-sm-6">
						<div class="single-footer-caption mb-50">
							<div class="footer-tittle">
								<h4>GYM</h4>
								<ul>
									<li><a href="#">Conocenos</a></li>



								</ul>
							</div>
						</div>
					</div>
					<div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
						<div class="single-footer-caption mb-50">
							<div class="footer-tittle">
								<h4>Horarios</h4>
								<ul>
									<li><a href="#">Lunes 11am-7pm</a></li>
									<li><a href="#"> Martes-Viernes 11am-8pm</a></li>
									<li><a href="#"> Sabados 10am-6pm</a></li>
									<li><a href="#"> Domingo 11am-6pm</a></li>
								</ul>
							</div>
						</div>
					</div>
					>
					<div class="col-xl-3 col-lg-4 col-md-5 col-sm-6">
						<div class="single-footer-caption mb-50">
							<!-- logo -->
							<div class="footer-logo">
								<a th:href="@{/index}">
									<img src="@{/img/logo/logo1.png}" alt="">
								</a>

							</div>
							<div class="footer-tittle">
								<div class="footer-pera">
									<p class="info1">Dedicación y persistencia: el camino hacia la mejor versión de
										ti</p>
								</div>
							</div>
							<!-- Footer Social -->
							<div class="footer-social ">
								<a href="https://www.facebook.com/sai4ull"><i class="fab fa-facebook-f"></i></a>
								<a href=""><i class="fab fa-twitter"></i></a>
								<a href="#"><i class="fas fa-globe"></i></a>
								<a href="#"><i class="fab fa-instagram"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Footer Bottom -->
			<div class="footer-bottom">
				<div class="row d-flex align-items-center">
					<div class="col-lg-12">
						<div class="footer-copy-right text-center">
							<p>
								Copyright &copy;
								<script>document.write(new Date().getFullYear());</script> Todos los Derechos Reservados
								|
								Hecho por <i class="fa fa-heart" aria-hidden="true"></i> Marcos Suarez-Jhon Orrego

							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Footer End-->
</footer>
<!-- Scroll Up -->
<div id="back-top">
	<a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
</div>

<!-- JS here -->

<script th:src="@{/js/vendor/modernizr-3.5.0.min.js}"></script>
<script th:src="@{/js/vendor/jquery-1.12.4.min.js}"></script>
<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/jquery.slicknav.min.js}"></script>
<script th:src="@{/js/owl.carousel.min.js}"></script>
<script th:src="@{/js/slick.min.js}"></script>
<script th:src="@{/js/wow.min.js}"></script>
<script th:src="@{/js/animated.headline.js}"></script>
<script th:src="@{/js/jquery.magnific-popup.js}"></script>
<script th:src="@{/js/gijgo.min.js}"></script>
<script th:src="@{/js/jquery.nice-select.min.js}"></script>
<script th:src="@{/js/jquery.sticky.js}"></script>
<script th:src="@{/js/jquery.counterup.min.js}"></script>
<script th:src="@{/js/waypoints.min.js}"></script>
<script th:src="@{/js/jquery.countdown.min.js}"></script>
<script th:src="@{/js/hover-direction-snake.min.js}"></script>
<script th:src="@{/js/contact.js}"></script>
<script th:src="@{/js/jquery.form.js}"></script>
<script th:src="@{/js/jquery.validate.min.js}"></script>
<script th:src="@{/js/mail-script.js}"></script>
<script th:src="@{/js/jquery.ajaxchimp.min.js}"></script>
<script th:src="@{/js/plugins.js}"></script>
<script th:src="@{/js/main.js}"></script>

</body>

</html>